# Bu faylni .env deb nusxalang va haqiqiy qiymatlarni kiriting.
# .env faylini HECH QACHON GitHub'ga yubormang!

BOT_TOKEN=123456789:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ADMIN_IDS=123456789
REQUIRED_CHANNEL=@sizning_kanalingiz
DB_PATH=./data/tanishuv.db
